In [1]:
%cd ..
!pwd

/home/ubuntu/Study/Otus/ml-finance/homeworks/OTUS-HW1
/home/ubuntu/Study/Otus/ml-finance/homeworks/OTUS-HW1

In [2]:
from pathlib import Path
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor
from loguru import logger  # type: ignore
from tqdm import tqdm  # type: ignore

from otus_hw1.config import RAW_DATA_DIR

2024-12-03 15:46:16.112 | INFO     | otus_hw1.config:<module>:11 - PROJ_ROOT path is: /home/ubuntu/Study/Otus/ml-finance/homeworks/OTUS-HW1

In [3]:
df = pd.read_csv(RAW_DATA_DIR/"sp500_data/AAPL.csv")
df['Date'] = pd.to_datetime(df['Date'])
df

,Date,Adj Close,Close,High,Low,Open,Volume
0,2023-11-30,189.023956,189.949997,190.320007,188.190002,189.839996,48794400
1,2023-12-01,190.307678,191.240005,191.559998,189.229996,190.330002,45679300
2,2023-12-04,188.506470,189.429993,190.050003,187.449997,189.979996,43389500
3,2023-12-05,192.477051,193.419998,194.399994,190.179993,190.210007,66628400
4,2023-12-06,191.382416,192.320007,194.759995,192.110001,194.449997,41089700
...,...,...,...,...,...,...,...
247,2024-11-22,229.869995,229.869995,230.720001,228.059998,228.059998,38168300
248,2024-11-25,232.869995,232.869995,233.250000,229.740005,231.460007,90152800
249,2024-11-26,235.059998,235.059998,235.570007,233.330002,233.330002,45986200
250,2024-11-27,234.929993,234.929993,235.690002,233.809998,234.470001,33498400
251,2024-11-29,237.330002,237.330002,237.809998,233.970001,234.809998,28481400

In [4]:
# Функция для проверки данных на пропуски и ошибки
def check_missing_and_errors(df: pd.DataFrame) -> pd.DataFrame:
    """
    Проверяет пропуски и ошибки в данных.
    """
    logger.info("Проверка пропусков...")
    missing_info = df.isnull().sum()
    if missing_info.any():
        logger.warning(f"Найдены пропуски:\n{missing_info}")
    else:
        logger.success("Пропуски не найдены.")

    logger.info("Проверка логических ошибок...")
    error_rows = df[
        (df['Low'] > df['Open']) |
        (df['Open'] > df['High']) |
        (df['Low'] > df['Close']) |
        (df['Close'] > df['High']) |
        (df['Volume'] < 0)
    ]
    if not error_rows.empty:
        logger.warning(f"Найдены логические ошибки:\n{error_rows}")
    else:
        logger.success("Логических ошибок не найдено.")

    logger.info("Проверка временных интервалов...")
    df['TimeDiff'] = df['Date'].diff()
    irregular_intervals = df[df['TimeDiff'] != df['TimeDiff'].median()]
    if not irregular_intervals.empty:
        logger.warning(f"Обнаружены нерегулярные интервалы:\n{irregular_intervals}")
    else:
        logger.success("Временные интервалы равномерны.")
    return df

check_missing_and_errors(df)

2024-12-03 15:52:56.686 | INFO     | __main__:check_missing_and_errors:6 - Проверка пропусков...
2024-12-03 15:52:56.688 | SUCCESS  | __main__:check_missing_and_errors:11 - Пропуски не найдены.
2024-12-03 15:52:56.688 | INFO     | __main__:check_missing_and_errors:13 - Проверка логических ошибок...
2024-12-03 15:52:56.690 | SUCCESS  | __main__:check_missing_and_errors:24 - Логических ошибок не найдено.
2024-12-03 15:52:56.690 | INFO     | __main__:check_missing_and_errors:26 - Проверка временных интервалов...
2024-12-03 15:52:56.701 | WARNING  | __main__:check_missing_and_errors:30 - Обнаружены нерегулярные интервалы:
          Date   Adj Close       Close        High         Low        Open  \
0   2023-11-30  189.023956  189.949997  190.320007  188.190002  189.839996
2   2023-12-04  188.506470  189.429993  190.050003  187.449997  189.979996
7   2023-12-11  192.238220  193.179993  193.490005  191.419998  193.110001
12  2023-12-18  194.935013  195.889999  196.630005  194.389999  196.089996
17  2023-12-26  192.108841  193.050003  193.889999  192.830002  193.610001
21  2024-01-02  184.734985  185.639999  188.440002  183.889999  187.149994
25  2024-01-08  184.655365  185.559998  185.600006  181.500000  182.089996
30  2024-01-16  182.734772  183.630005  184.259995  180.929993  182.160004
34  2024-01-22  192.944748  193.889999  195.330002  192.259995  192.300003
39  2024-01-29  190.795273  191.729996  192.199997  189.580002  192.009995
44  2024-02-05  186.765030  187.679993  189.250000  185.839996  188.149994
49  2024-02-12  186.475266  187.149994  188.669998  186.789993  188.419998
54  2024-02-20  180.905411  181.559998  182.429993  180.000000  181.789993
58  2024-02-26  180.506866  181.160004  182.759995  180.649994  182.240005
63  2024-03-04  174.468704  175.100006  176.899994  173.789993  176.149994
68  2024-03-11  172.127182  172.750000  174.380005  172.050003  172.940002
73  2024-03-18  173.093689  173.720001  177.710007  173.520004  175.570007
78  2024-03-25  170.234039  170.850006  171.940002  169.449997  170.570007
82  2024-04-01  169.416977  170.029999  171.250000  169.479996  171.190002
87  2024-04-08  167.842682  168.449997  169.199997  168.240005  169.029999
92  2024-04-15  172.067383  172.690002  176.630005  172.500000  175.360001
97  2024-04-22  165.242081  165.839996  167.259995  164.770004  165.520004
102 2024-04-29  172.874466  173.500000  176.029999  173.100006  173.369995
107 2024-05-06  181.054886  181.710007  184.199997  180.419998  182.350006
112 2024-05-13  185.860138  186.279999  187.100006  184.619995  185.440002
117 2024-05-20  190.609421  191.039993  191.919998  189.009995  189.330002
122 2024-05-28  189.561783  189.990005  193.000000  189.100006  191.509995
126 2024-06-03  193.592682  194.029999  194.990005  192.520004  192.899994
131 2024-06-10  192.684723  193.119995  197.300003  192.149994  196.899994
136 2024-06-17  216.181656  216.669998  218.949997  212.720001  213.369995
138 2024-06-20  209.207397  209.679993  214.240005  208.850006  213.929993
140 2024-06-24  207.670883  208.139999  212.699997  206.589996  207.720001
145 2024-07-01  216.261475  216.750000  217.509995  211.919998  212.089996
148 2024-07-05  225.829849  226.339996  226.449997  221.649994  221.649994
149 2024-07-08  227.306534  227.820007  227.850006  223.250000  227.089996
154 2024-07-15  233.871689  234.399994  237.229996  233.089996  236.479996
159 2024-07-22  223.455231  223.960007  227.779999  223.089996  227.009995
164 2024-07-29  217.748123  218.240005  219.300003  215.750000  216.960007
169 2024-08-05  208.798340  209.270004  213.500000  196.000000  199.089996
174 2024-08-12  217.290939  217.529999  219.509995  215.600006  216.070007
179 2024-08-19  225.641754  225.889999  225.990005  223.039993  225.720001
184 2024-08-26  226.930328  227.179993  227.279999  223.889999  226.759995
189 2024-09-03  222.525177  222.770004  229.000000  221.169998  228.550003
193 2024-09-09  220.667221  220.910004  221.270004  216.710007  220.820007
198 2024-09-16  216.082275  216.320007  217.220001  213.919998  216.539993
203 2024-09-23  226.221115  226.470001  229.449997  225.809998  227.339996
208 2024-09-30  232.743942  233.000000  233.000000  229.649994  230.039993
213 2024-10-07  221.446365  221.690002  225.690002  221.330002  224.500000
218 2024-10-14  231.045807  231.300003  231.729996  228.600006  228.699997
223 2024-10-21  236.220108  236.479996  236.850006  234.449997  234.449997
228 2024-10-28  233.143494  233.399994  234.729996  232.550003  233.320007
233 2024-11-04  221.766006  222.009995  222.789993  219.710007  220.990005
238 2024-11-11  224.229996  224.229996  225.699997  221.500000  225.000000
243 2024-11-18  228.020004  228.020004  229.740005  225.169998  225.250000
248 2024-11-25  232.869995  232.869995  233.250000  229.740005  231.460007
251 2024-11-29  237.330002  237.330002  237.809998  233.970001  234.809998

        Volume TimeDiff
0     48794400      NaT
2     43389500   3 days
7     60943700   3 days
12    55751900   3 days
17    28919300   4 days
21    82488700   4 days
25    59144500   3 days
30    65603000   4 days
34    60133900   3 days
39    47145600   3 days
44    69668800   3 days
49    41781900   3 days
54    53665600   4 days
58    40867400   3 days
63    81510100   3 days
68    60139500   3 days
73    75604200   3 days
78    54288300   3 days
82    46240500   4 days
87    37425500   3 days
92    73531800   3 days
97    48116400   3 days
102   68169400   3 days
107   78569700   3 days
112   72044800   3 days
117   44361300   3 days
122   52280100   4 days
126   50080500   3 days
131   97262100   3 days
136   93728300   3 days
138   86172500   2 days
140   80727000   3 days
145   60402900   3 days
148   60412400   2 days
149   59085900   3 days
154   62631300   3 days
159   48201800   3 days
164   36311800   3 days
169  119548600   3 days
174   38028100   3 days
179   40687800   3 days
184   30602200   3 days
189   50190600   4 days
193   67180000   3 days
198   59357400   3 days
203   54146000   3 days
208   54541900   3 days
213   39505400   3 days
218   39882100   3 days
223   36254500   3 days
228   36087100   3 days
233   44944500   3 days
238   42005600   3 days
243   44686000   3 days
248   90152800   3 days
251   28481400   2 days

,Date,Adj Close,Close,High,Low,Open,Volume,TimeDiff
0,2023-11-30,189.023956,189.949997,190.320007,188.190002,189.839996,48794400,NaT
1,2023-12-01,190.307678,191.240005,191.559998,189.229996,190.330002,45679300,1 days
2,2023-12-04,188.506470,189.429993,190.050003,187.449997,189.979996,43389500,3 days
3,2023-12-05,192.477051,193.419998,194.399994,190.179993,190.210007,66628400,1 days
4,2023-12-06,191.382416,192.320007,194.759995,192.110001,194.449997,41089700,1 days
...,...,...,...,...,...,...,...,...
247,2024-11-22,229.869995,229.869995,230.720001,228.059998,228.059998,38168300,1 days
248,2024-11-25,232.869995,232.869995,233.250000,229.740005,231.460007,90152800,3 days
249,2024-11-26,235.059998,235.059998,235.570007,233.330002,233.330002,45986200,1 days
250,2024-11-27,234.929993,234.929993,235.690002,233.809998,234.470001,33498400,1 days
251,2024-11-29,237.330002,237.330002,237.809998,233.970001,234.809998,28481400,2 days

In [ ]:
# Анализ выбросов
def analyze_outliers(df: pd.DataFrame) -> pd.DataFrame:
    """
    Анализ выбросов: IQR, Z-оценка, Local Outlier Factor, Isolation Forest.
    """
    logger.info("Анализ выбросов...")
    # IQR
    q1 = df[['Open', 'High', 'Low', 'Close']].quantile(0.25)
    q3 = df[['Open', 'High', 'Low', 'Close']].quantile(0.75)
    iqr = q3 - q1
    outliers_iqr = (df[['Open', 'High', 'Low', 'Close']] < (q1 - 1.5 * iqr)) | \
                   (df[['Open', 'High', 'Low', 'Close']] > (q3 + 1.5 * iqr))
    df['Outlier_IQR'] = outliers_iqr.any(axis=1)
    logger.info(f"IQR выбросы обнаружены: {df['Outlier_IQR'].sum()}")

    # Local Outlier Factor
    lof = LocalOutlierFactor(n_neighbors=20)
    df['Outlier_LOF'] = lof.fit_predict(df[['Open', 'High', 'Low', 'Close', 'Volume']]) == -1
    logger.info(f"LOF выбросы обнаружены: {df['Outlier_LOF'].sum()}")

    # Isolation Forest
    iso_forest = IsolationForest(contamination=0.01, random_state=42)
    df['Outlier_IsolationForest'] = iso_forest.fit_predict(df[['Open', 'High', 'Low', 'Close', 'Volume']]) == -1
    logger.info(f"Isolation Forest выбросы обнаружены: {df['Outlier_IsolationForest'].sum()}")

    return df

analyze_outliers(df)

In [ ]:
# Сохранение аномальных отрезков
def save_anomalies_visual(df: pd.DataFrame, column: str, output_dir: Path):
    """
    Сохраняет графики аномальных отрезков для каждого типа выбросов.
    """
    output_dir.mkdir(parents=True, exist_ok=True)

    anomaly_types = {
        'Outlier_IQR': 'IQR',
        'Outlier_LOF': 'LOF',
        'Outlier_IsolationForest': 'IsolationForest'
    }

    for anomaly_col, method in anomaly_types.items():
        anomalies = df[df[anomaly_col]]
        logger.info(f"Сохранение аномалий для метода {method}. Найдено {len(anomalies)} выбросов.")
        
        for i, idx in enumerate(anomalies.index[:3]):  # Сохраним только 3 первые аномалии для каждого метода
            start = max(0, idx - 25)
            end = min(len(df), idx + 25)
            segment = df.iloc[start:end]
            
            plt.figure(figsize=(10, 6))
            plt.plot(segment['Date'], segment[column], label=f'{column}', color='blue')
            plt.scatter(anomalies.loc[idx, 'Date'], anomalies.loc[idx, column], color='red', label='Anomaly')
            plt.title(f"Аномалия {i + 1} ({method}) в {column}")
            plt.xlabel('Дата')
            plt.ylabel(column)
            plt.legend()
            plt.grid()
            
            file_name = output_dir / f'{method}_anomaly_{column}_{i + 1}.png'
            plt.savefig(file_name)
            plt.close()

            logger.info(f"Сохранено: {file_name}")
        
output_dir = Path("output_anomalies")
output_dir.mkdir(parents=True, exist_ok=True)

save_anomalies_visual(df, 'Close', output_dir)

Выявленные аномалии, обнаруженные с помощью методов IQR, LOF, и Isolation Forest, представляют собой реальные данные, с которыми предстоит работать.

In [ ]:
# Анализ временных рядов
def time_series_analysis(df: pd.DataFrame, column: str):
    """
    Анализ временных рядов: ACF, PACF, тест Дики-Фуллера.
    """
    logger.info("Проверка стационарности временного ряда...")
    adf_result = adfuller(df[column].dropna())
    logger.info(f"ADF Statistic: {adf_result[0]}")
    logger.info(f"p-value: {adf_result[1]}")
    if adf_result[1] < 0.05:
        logger.success(f"Ряд {column} стационарен.")
    else:
        logger.warning(f"Ряд {column} нестационарен.")

    logger.info("Построение ACF и PACF...")
    plt.figure(figsize=(12, 6))
    plot_acf(df[column].dropna(), lags=50)
    plt.title(f"ACF для {column}")
    plt.show()

    plt.figure(figsize=(12, 6))
    plot_pacf(df[column].dropna(), lags=50)
    plt.title(f"PACF для {column}")
    plt.show()
    
time_series_analysis(df, 'Close')